.join-us {
  background-color: var(--color-dark-alternate);
}

.join-us__video-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 30px;
  background: url(./../img/join-us-bg.jpg) center/cover no-repeat var(--color-dark-alternate);
}

.join-us__video {
  width: 100%;
  max-width: 960px;
  height: auto;
}

.join-us__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
  width: 200px;
  aspect-ratio: 1;
  background-color: transparent;
  border: var(--border);
  border-radius: 50%;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-light);

  &::after {
    content: '';
    width: 26px;
    aspect-ratio: 1;
    background: url(./../img/icons/arrow-top-right.svg) center/contain no-repeat;
  }

  &:hover {
    background-color: var(--color-light-gray);
  }
}

.join-us__body {
  padding-bottom: 150px;
}

.join-us__title {
  position: relative;
  margin-top: -0.4em;
  font-size: clamp(64px, 9.37vw, 180px);
  line-height: 1;
  text-align: center;

  &::after {
    content: '';
    display: inline-block;
    height: 0.7em;
    aspect-ratio: 1;
    background: url(./../img/icons/big-arrow.svg) center/contain no-repeat;
    scale: 1 -1;
    margin-left: 0.14em;
  }

  &:not(:last-child) {
    margin-bottom: 130px;
  }
}

// .join-us__form {
// }

.join-us__form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 7px;

  &:not(:last-child) {
    margin-bottom: 52px;
  }
}

// .join-us__form-title {
// }

.join-us__form-subtitle {
  text-align: center;
  font-size: 20px;
  line-height: 1.6;
  text-transform: uppercase;
  color: var(--color-light);
}

.join-us__form-body {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.join-us__form-input {
  max-width: 400px;
}

// .join-us__form-button {
// }


@media (max-width: 1024px) {
  .join-us__body {
    padding-bottom: 80px;
  }

  .join-us__title:not(:last-child) {
    margin-bottom: 80px;
  }
}

@media (max-width: 767px) {
  .join-us__play-button {
    width: 140px;
  }

  .join-us__title:not(:last-child) {
    margin-bottom: 40px;
  }

  .join-us__form-subtitle {
    font-size: 16px;
  }

  .join-us__form-body {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
}