.training-types {
  position: relative;
  max-width: 1929px;
  margin-inline: auto;
  padding-top: 70px;
  padding-bottom: 120px;
  background-color: var(--color-dark);
}

.training-types__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 60px;
}

.training-types__item {
  --trainingTypesItemBgIconSize: 80px;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  padding-top: var(--trainingTypesItemBgIconSize);
  background: url(./../img/icons/transparent-arrow.svg) 100% 0/var(--trainingTypesItemBgIconSize) no-repeat;
}

// .training-types__image {
// }

.training-types__title {
  font-size: 16px;
}

@media (max-width: 1280px) {
  .training-types__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {
  .training-types__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .training-types__item {
    --trainingTypesItemBgIconSize: 50px;

    row-gap: 10px;
  }

  .training-types__image {
    max-width: 120px;
  }
}
